<!DOCTYPE html>
<html>
<% include defs s%>
<title>Radovednez</title>
	<body>
		<header>
			<% include header %>
		</header>
		<div class ="main">
			<ul class="tab">
			 	<li><a href="/" class="tabs" onclick="odpriTab(event, 'vsehcasov')" id ="vsehvcasovTab">vseh časov</a></li>
			 	<li><a href="/meseca" class="tabs" onclick="odpriTab(event, 'meseca')" id="mesecaTab">meseca</a></li>
			 	<li><a href="/tedna" class="tabs" onclick="odpriTab(event, 'tedna')" id ="tednaTab">tedna</a></li>
			  	<li><a href="/novo" class="tabs" onclick="odpriTab(event, 'novo')" id ="novoTab">novo</a></li>
			  	<li><p class = "bold"> Razvrsti vpršanja </p></li>
			</ul>
			<div id="trenutno" class="vsebinaTab">
			<% seznamVprasanj.forEach(function(vprasanje) { %>
				<div class ="vprasanje">
				<% var vprasanje_vsebina = vprasanje.dataValues.vprasanje_objave; %>
				<% var vsebina = vprasanje.dataValues.vsebina_objave; %>
				<% var vseckov = vprasanje.dataValues.vseckov; %>
				<% var vprasanjeId = vprasanje.dataValues.id; %>
				<table>
						<tr>
							<td class="votecell">
								<img href="/likePost/<%= vprasanjeId%>"class = "voteimg" src="../public/icons/like.svg" alt="like"/>
								<span><%=vseckov %></span>
								<img  class = "voteimg" src="../public/icons/dislike.svg" alt="like"/>
							</td>
							<td class="questcell">
								<article>
									<h2> <a href="/vprasanje/<%= vprasanjeId%>"><%=vprasanje_vsebina %></a> </h2>
									<p> <%=vsebina %></p>
								</article>
							</td>
						</tr>
						<tr>
							<td>
							</td>
						</tr>
					</table>
				</div>
			<% }); %>
				
			</div>
		</div>
	<footer>
		<% include footer %>
    </footer>
	<script src="../public/js/landing.js"></script>
	</body>
</html>