<!DOCTYPE html>
<html>
<link rel="stylesheet" type="text/css" href="../public/stylesheets/landing.css">
<link rel="icon" href="../public/icons/favicon2.png">
<script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script> 
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"> 
<title>Radovednez</title>
	<body>
		<header>
		<div class="headerBackground">
		<div class="centrirano">
			<div class="logo"><a href="/"><img src="../public/icons/logo2.png" alt="logo"/></a></div>
			<form>
  				<input class="iskalnik" type="text" name="iskalnik" placeholder="Isci...">
			</form>
			<a href="/vprasaj" class="gumb">vprašaj</a>
			<% if (username == null) {%>
			<a href="/login" class="gumb">vpis</a>
			<a href="/registration" class="gumb">registracija</a>
			<% } else { %>
			<a href="/logout" class="gumb">izpis</a>
			<a href="" class="gumb"><%= username %></a>
			<% } %>
		</div>
		</div>
		</header>
		<div class= "main">
			<% var vprasanjeMain = mainVprasanje.vprasanje_objave; %>
			<% var vprasanjeVsebina = mainVprasanje.vsebina_objave; %>
			<% var vseckov = mainVprasanje.vseckov; %>
			<% var vprasanjeId = mainVprasanje.id; %>
			<% var OPname = uporabnikOP; %>
			<div class="vprasanjeContainer">
				<table>
					<tr>
						<td class="votecell">
							<img class = "voteimg" src="../public/icons/like.svg" alt="like"/>
							<span><%= vseckov %></span>
							<img class = "voteimg" src="../public/icons/dislike.svg" alt="like"/>
						</td>
						<td class="questcell">
							<article>
								<h2> <%= vprasanjeMain %></h2>
								<p> <%= vprasanjeVsebina %></p>
								<p>--- <%= OPname%></p>
							</article>
						</td>
					</tr>
					<tr>
					<td></td>
					<td>
						<a class="odgovorLink">označi za neprimerno</a>
					</td>
					</tr>
					<tr>
						<td>
						</td>
					</tr>
				</table>
			</div>
			<div class="odgovoriContainer">
				<p class="bold"> Objavi odgovor</p>
				<form class="article-comment" method="POST" action="/odgovori">
				<input type="hidden" name="vprasanje" value="<%=vprasanjeId%>" />
				<textarea id="odgovorBoks" name="odgovor" rows="7" cols="80" placeholder="" required></textarea>
				<button class="gumbOdgovori"">Odgovori</button>
				</form>
			</div>
			<div class="odgovoriContainer" id="odgovoriContainer">
					<% seznamOdg.forEach(function(odgovor) { %>
					<% var vsebinaOdg = odgovor.dataValues.vsebina; %>
					<% var vseckovOdg = odgovor.dataValues.vseckov; %>
					<% var idOdg = odgovor.dataValues.id; %>
					<table>
					<tr>
						<td class="votecell">
							<img class = "voteimg" src="../public/icons/like.svg" alt="like"/>
							<span><%= vseckovOdg %></span>
							<img class = "voteimg" src="../public/icons/dislike.svg" alt="like"/>
						</td>
						<td class="questcell">
								<p> <%= vsebinaOdg %></p>
								<% seznamUpor.forEach(function(uporabnik) { %>
								<% if(uporabnik.dataValues.id == odgovor.dataValues.uporabnikId) {%>
									<p>--- <%= uporabnik.dataValues.uporabnikso_ime%></p>
								<%}%>
								<% });%>
						</td>
					</tr>
					<tr>
					<td></td>
					<td>
						<a href="javascript:void(0)" class="odgovorLink" onclick="komentiraj(event,<%= idOdg %>)">komentiraj</a>
						<a class="odgovorLink">označi za neprimerno</a>
						<a href="javascript:void(0)" class="odgovorLink" onclick="oznaciOdgovor(event)">označi za dober odgovor</a>
					</td>
					</tr>
					<% seznamKom.forEach(function(komentar) {%>
						<% if (komentar.dataValues.odgovorId == odgovor.dataValues.id) { %>
						<tr>
						<td></td>
						<td>
							<table>
								<tr>
									<td class="votecell">
										<img class = "voteimg" src="../public/icons/like.svg" alt="like"/>
										<span><%= komentar.dataValues.vseckov %></span>
										<img class = "voteimg" src="../public/icons/dislike.svg" alt="like"/>
									</td>
									<td class="questcell">
											<p><%= komentar.dataValues.vsebina %></p>
											<% seznamUpor.forEach(function(uporabnik) { %>
											<% if(uporabnik.dataValues.id == komentar.dataValues.uporabnikId) {%>
												<p>--- <%= uporabnik.dataValues.uporabnikso_ime%></p>
											<%}%>
											<% });%>
									</td>
								</tr>
								<tr>
								<td></td>
								<td>
									<a class="odgovorLink">označi za neprimerno</a>
								</td>
								</tr>
							</table>
						</td>
						</tr>
						<% } %>
					<% });%>
				</table>
				<% }); %>
			</div>
			<div id="modalComment" class="modal">
			  <div class="modalvsebina">
			    <p class="bold"> Komentiraj</p>
			    	<form class="article-comment" method="POST" action="/komentiraj">
			    	<input type="hidden" name="odgovor" value="" id="commentBox" />
			    	<input type="hidden" name="vprasanje" value="<%=vprasanjeId%>" />
					<textarea id="komentarBoks" name="komentar" rows="7" cols="80" placeholder="" required></textarea>
					<button class="gumbOdgovori" id="gumbKomentiraj" >Komentiraj</button>
					</form>
			  </div>
			</div>
		</div>
	<footer>
	<div class="headerBackground">
      <div class="centrirano">
      	<div class="footerContent">
        <a href="/login">Prijava</a> | 
        <a href="/registration">Registracija</a> |
        <a href="/vprasaj">Vprašaj</a><br>
        Avtor: Matevž Cesar
        </div> 
        </div>
      </div>
    </footer>
	<script src="../public/js/landing.js"></script>
	</body>
</html>